@model ITrack.Models.RoleChange

<h2>Change User Role</h2>

@using (Html.BeginForm())
{
   
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Users, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="title">
                
                @Html.DropDownListFor(x => x.selectedEmployee, Model.Users, " - Select User - ", new { @class = "btn btn-primary dropdown-toggle" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="title">
               
                @Html.DropDownListFor(x => x.selectedRole, Model.Roles, " - Select New Role - ", new { @class = "btn btn-primary dropdown-toggle" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change Role" class="btn btn-default" />
            </div>
        </div>
     </div>
        }
